/*タブレット*/
@media(max-width: 1000px){
    .top-wrapper{
        width: 100%;
        height: 400px;
        background-size: cover;
    }
    .lesson-wrapper{
        height: auto;
    }
    .lesson{
        height: auto;
    }
    .eve-p{
        display: none;
    }
    .coment-box{
        margin-top: 10px;
        height: 160px;
    }
    .lesson-container{
        height: auto;
    }
    .lesson-container h2{
        margin-top: 10px;
        padding-top: 5px;
    }
    .lesson-container p{
        width: 90%;
        margin-left: 5%;
        font-size: 15px;
        line-height: 2;
    }
    .lesson-1 h2{
        font-size: 20px;
        width: 84%;
        margin-left: 8%;
    }
    .lesson img{
        width: 100%;
        height: 200px;
    }
    .lesson-1{
        width: 100%;
    }
    .contents-item{
        width: 50%;
        margin-bottom: 50px;
    }
    .message-container{
        width: 50%;
        margin-bottom: 50px;
    }
    .map{
        width: 100%;
    }
    .line{
        width: 100%;
    }       
    .stuff{
        width: 100%;
    }
}
/*スマートフォン*/
@media(max-width: 670px){
    .contents-item{
        width: 100%;
    }
    .top-wrapper{
        text-align: left;
    }
    .menu-icon2{
        display: block;

    }
    .menu-icon{
        line-height: 60px;
        padding: 0 25px;
        color: white;
        float: right;
        margin-right: 10px;
    }
    .menu-icon :hover{
        background-color: rgba(255, 255, 255, 0.3);
    }
    .header-right{
        display: none;
    }
        .line{
        width: 100%;
    }
        .line-img{
       display: none;
    }    
    .stuff{
        width: 100%;
    }
}
